<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="rediscache" type="Nhibernate.Caches.Redis.Core.RedisCacheSectionHandler, Nhibernate.Caches.Redis.Core" />
	</configSections>
	<rediscache>
		<redis connectionString="localhost" />
		<cache region="redis" expiration="60" cachetype="Redis" />
	</rediscache>
</configuration>